
<%=render 'home/header'%>

<body id="page-top">

<%=render 'home/nav_bar'%>

    <header class = "main">
        <div class="header-content-main">
            <div class="header-content-inner-main">
            </div>
        </div>
    </header>

<div class="links">
  <%= link_to 'Back to Leagues', leagues_path , class: "btn"%>
  <%= link_to 'Back to ' "#{@league.name}", league_path(@league), class: "btn"%>
  <a href="/leagues/<%=@league.id%>/statistics/years/2015/leaders" class= "btn">League Leaders</a>
  <%= link_to 'Standings', league_standings_path(@league), class: "btn"%>
</div>

<h2 class = "subject"><a href="/leagues/<%=@league.id%>"><%="#{@league.name}"%> </a></h2>

<table class="table-format">
  <thead>
    <tr>
      <th>Name</th>
      <th>Coach</th>
      <th>Arena</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @league.teams.each do |team| %>
      <tr>
        <td><a href="/leagues/<%=team.league_id%>/teams/<%=team.id%>/players"><%= team.full_name%></a></td>
        <td><%= team.coach%></td>
        <td><%= team.arena %></td>
        <td><%= link_to 'Edit', edit_league_team_path(@league,team) %></td>
        <td><%= link_to 'Delete',  { action: :destroy, id: team.id }, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>

<%= link_to 'New Team', new_league_team_path , class: "btn"%><br><br><br>

<%=render 'home/footer'%>

</body>

</html>
