<%=render "home/header"%>

<body id="page-top">

    <header class = "main">
        <div class="header-content-main">
            <div class="header-content-inner-main">
            </div>
        </div>
    </header>

<h2 class = "subject">All Leagues</h2>

<div class= "main-body">
  <div class="actions">
    <%@leagues.each do |league|%>
      <h3><a href="/leagues/<%=league.id%>/home"><%=league.name%></a></h3>
        <p>Commissioner: <%=league.commissioner%></p>
    <%end%>
  <br>
    <%= link_to 'New League',  new_league_path, class: "btn btn-primary"%>
  </div>
</div>

<%=render "home/footer"%>
</body>

</html>
