<h1><%=@league.name%></h1>

<p>
  <a href="/leagues/<%=@league.id%>/teams/new">New Team</a>
  <a href="/leagues/<%=@league.id%>/teams">Teams</a>
  <a href="/leagues/<%=@league.id%>/leaders">Leaders</a>
  <a href="/leagues/<%=@league.id%>/teams/<%=@league.teams.first.id%>/statistics/years/2015">Statistics</a>
  <a href="/leagues/<%=@league.id%>/standings">Standings</a>
</p>
