
    <div class = "main-body">
      <%= form_for [@league,@video_new] do |f| %>
        <% if @video_new.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@video_new.errors.count, "error") %> prohibited this video from being saved:</h2>
            <ul>
            <% @video_new.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.hidden_field :league_id, value: @league.id %><br>
        </div>

        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <%= f.label :caption %><br>
          <%= f.text_area :caption %>
        </div>
        <div class="field">
          <%= f.label :short_url, "Short URL" %><br>
          <%= f.text_field :short_url %>
        </div>
        <div class="field">
          <%= f.label :url, "URL" %><br>
          <%= f.text_field :url %>
        </div>
        <div class="actions">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
