
<%= form_for [@league,@standing] do |f| %>
  <% if @league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league.errors.count, "error") %> prohibited this standing from being saved:</h2>
      <ul>
      <% @league.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :games %><br>
    <%= f.number_field :games %>
  </div>
  <div class="field">
    <%= f.label :wins %><br>
    <%= f.number_field :wins %>
  </div>
  <div class="field">
    <%= f.label :losses %><br>
    <%= f.number_field :losses %>
  </div>
  <div class="hidden">
    <%= f.label :wins_and_losses_sum %><br>
    <%= f.number_field :wins_and_losses_sum %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary
    "%>
  </div>
<% end %>
