

<%=render 'home/header'%>

<body id="page-top">

<%=render 'home/nav_bar'%>

    <header class = "main">
        <div class="header-content-main">
            <div class="header-content-inner-main">
            </div>
        </div>
    </header>

<h2 class = "subject">Edit Team Standings</h2>
<h3 class = "subject"><%=@standing.team.full_name%></h3>

<%= render 'form' %>

<%= link_to 'Back', league_standings_path, class: "btn" %>

<%=render 'home/footer'%>

</body>

</html>
