<%=render 'home/header'%>

<body id="page-top">

<%=render 'home/nav_bar'%>

    <header class = "main">
        <div class="header-content-main">
            <div class="header-content-inner-main">
            </div>
        </div>
    </header>

<h2 class = "subject"><%=@league.name%> Standings</h2>

<table class = "table-format">
  <thead>
    <tr>

      <th>Name</th>
      <th>Games</th>
      <th id="wins-trigger">Wins</th>
      <th>Losses</th>
      <th>Win %</th>
      <th>Goals For</th>
      <th>Goals Against</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.sort_by {|team| team.standing.win_percentage}.reverse.each do |team|%>
      <tr>
        <td> <a href="/leagues/<%=@league.id%>/teams/<%=team.id%>/players"><%=team.full_name %></a> </td>
        <td><%=team.standing.games %></td>
        <td><%=team.standing.wins %></td>
        <td><%=team.standing.losses %></td>
        <td><%='%.3f' %[team.standing.win_percentage] %></td>
        <td><%=team.standing.goals_for%></td>
        <td><%=team.standing.goals_against%></td>
        <td> <a href="/leagues/<%=@league.id%>/standings/<%=team.standing.id%>/edit">Edit</a> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="hidden" id = "wins-graph">
  <h2>Wins</h2>
</div>


<div class = "links-end">
  <%= link_to 'Add Team' , new_league_team_path, class: "btn btn-special btn-team" %>
</div>

<div class="hidden">
  <%=render '/teams/form'%>
</div>


<%=render 'home/footer'%>

</body>


<script type="text/javascript" class = "hidden" id = "wins-graph">
  var w = 1700;
  var h = 300;
  var barPadding = 10;

  var teamWins = <%=raw @team_wins%>

  var svg = d3.select("div#wins-graph")
    .append("svg")
    .attr("width", w)
    .attr("height", h);

  svg.selectAll("rect")
    .data(teamWins)
    .enter()
    .append("rect")
    .attr("x", function(d, i) {
      return i * (w / teamWins.length);
    })
    .attr("y", function(d) {
      return h - (d[1] * 35);
    })
    .attr("width", w / teamWins.length - barPadding)
    .attr("height", function(d) {
      return d[1] * 35;
    })
    .attr("fill", function(d) {
      return "rgb(0, 0, " + (d[1] * 35) + ")";
    });

  svg.selectAll("text")
    .data(teamWins)
    .enter()
    .append("text")
    .text(function(d) {
      return d[0];
    })
    .attr("text-anchor", "middle")
    .attr("x", function(d, i) {
      return i * (w / teamWins.length) + (w / teamWins.length - barPadding) / 2;
    })
    .attr("y", function(d) {
      return h - (d[1] * 35) + 14;
    })
    .attr("font-family", "sans-serif")
    .attr("font-size", "7px")
    .attr("fill", "white");
</script>

</html>
