<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">PuckDrop</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="/leagues/<%=@league.id%>/home" class= "btn">Home</a>
                    </li>
                    <li>
                      <%= link_to 'Scores', league_scores_path(@league), class: "btn"%>
                    </li>
                    <li>
                      <%= link_to 'Standings', league_standings_path(@league), class: "btn"%>
                    </li>
                    <li>
                      <%= link_to 'Schedule', league_schedules_path(@league), class: "btn" %>
                    </li>
                    <li>
                      <a href="/leagues/<%=@league.id%>/videos/1" class = "btn">Videos</a>
                    </li>
                    <li>
                      <a href="/leagues/<%=@league.id%>/statistics/years/2015/leaders" class= "btn">League Leaders</a>
                    </li>
                    <li>
                      <%= link_to 'Teams', league_teams_path(@league,@team), class: "btn" %>
                    </li>
                    <li>
                      <a href="/leagues/<%=@league.id%>/teams/<%=@league.teams.first.id%>/statistics/years/2015" class = "btn">Player Stats</a>
                    </li>
                    <li>
                      <a href="/leagues/<%=@league.id%>/teams/<%=@league.teams.first.id%>/salaries" class = "btn">Salaries</a>
                    </li>
                    <li>
                      <a href="/leagues/<%=@league.id%>/teams/<%=@league.teams.first.id%>/salaries/buyoutcalc" class = "btn">Buyout Calculator</a>
                    </li>
                    <li>
                      <%= link_to 'All Leagues', leagues_path , class: "btn"%>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>


    </div>
    <!-- /.container-fluid -->
</nav>
