<%=render 'home/header'%>

<body id="page-top">

<%=render 'home/nav_bar'%>

    <header class = "main">
        <div class="header-content-main">
            <div class="header-content-inner-main">
            </div>
        </div>
    </header>

  <div class= "container">
    
  <div class= "headlines">
    <%@headlines.each do |headline|%>
    <a href="/leagues/<%=@league.id%>/news/<%=headline.id%>"><h1 id="name"><%=headline.name%></h1></a>
      <a href="/leagues/<%=@league.id%>/news/<%=headline.id%>"><div id="headline_pic"><%=image_tag(headline.picture)%></div></a>
    <%end%>
  </div>


  <a href="/leagues/<%=@league.id%>/scores"><h1 id="scoreboard">Scoreboard</h1></a>
  <div class="scores"%>
    <%@scores.each do |score|%>
        <div class="score-board">
          <div class="player">
            <div class="score-box">
            <h4><%=score.hometeam%></h4>
              <%=score.home_goals%>
            </div>
          </div>
          <div class="period-timer">
            <%=score.period_board%><br>
            <%=score.time_left%>
          </div>
          <div class="player">
            <div class="score-box">
            <h4><%=score.awayteam%></h4>
              <%=score.away_goals%>
            </div>
          </div>
        </div><br>
      <%end%>
    </div>

    <a href="/leagues/<%=@league.id%>/statistics/years/<%=@year.id%>/leaders"><h1 id="leaderboard">Leaderboard</h1></a>
    <h3 id="positions">Skaters</h3>
    <div class="leaders">
      <div class="stat-line">
        <h2 id="stat">Goals</h2>
        <%@statistics.sort_by {|statistic| statistic.goals.to_i}.reverse[0..4].each do |statistic|%>
          <div style="clear: both">
            <h4 style="float: left"><a href="/leagues/<%=statistic.player.team.league.id%>/teams/<%=statistic.player.team.id%>/players/<%=statistic.player.id%>"><%=statistic.player.full_name %></a></h4>
            <h4 style="float: right"><%=statistic.goals%></h4></span><br>
          </div>
        <%end%>
      </div>
      <div class="stat-line">
        <h2 id="stat">Points</h2>
        <%@statistics.sort_by {|statistic| statistic.points.to_i}.reverse[0..4].each do |statistic|%>
          <div style="clear: both">
            <h4 style="float: left"><a href="/leagues/<%=statistic.player.team.league.id%>/teams/<%=statistic.player.team.id%>/players/<%=statistic.player.id%>"><%=statistic.player.full_name %></a></h4>
            <h4 style="float: right"><%=statistic.points%></h4></span><br>
          </div>
        <%end%>
      </div>
      <div class="stat-line">
        <h2 id="stat">Assists</h2>
        <%@statistics.sort_by {|statistic| statistic.assists.to_i}.reverse[0..4].each do |statistic|%>
          <div style="clear: both">
            <h4 style="float: left"><a href="/leagues/<%=statistic.player.team.league.id%>/teams/<%=statistic.player.team.id%>/players/<%=statistic.player.id%>"><%=statistic.player.full_name %></a></h4>
            <h4 style="float: right"><%=statistic.assists%></h4></span><br>
          </div>
        <%end%>
      </div>
      <div class="stat-line">
        <h2 id="stat">Plus-Minus</h2>
        <%@statistics.sort_by {|statistic| statistic.plus_minus.to_i}.reverse[0..4].each do |statistic|%>
          <div style="clear: both">
            <h4 style="float: left"><a href="/leagues/<%=statistic.player.team.league.id%>/teams/<%=statistic.player.team.id%>/players/<%=statistic.player.id%>"><%=statistic.player.full_name %></a></h4>
            <h4 style="float: right"><%=statistic.plus_minus%></h4></span><br>
          </div>
        <%end%>
      </div>
    </div>
    <h3 id="positions">Goalies</h3>
    <div class="leaders">
      <div class="stat-line">
        <h2 id="stat">Wins</h2>
        <%@g_statistics.sort_by {|statistic| statistic.wins.to_i}.reverse[0..4].each do |statistic|%>
          <div style="clear: both">
            <h4 style="float: left"><a href="/leagues/<%=statistic.player.team.league.id%>/teams/<%=statistic.player.team.id%>/players/<%=statistic.player.id%>"><%=statistic.player.full_name %></a></h4>
            <h4 style="float: right"><%=statistic.wins%></h4></span><br>
          </div>
        <%end%>
      </div>
      <div class="stat-line">
        <h2 id="stat">GAA</h2>
        <%@g_statistics.sort_by {|statistic| statistic.gaa.to_f}.reverse[0..4].each do |statistic|%>
          <div style="clear: both">
            <h4 style="float: left"><a href="/leagues/<%=statistic.player.team.league.id%>/teams/<%=statistic.player.team.id%>/players/<%=statistic.player.id%>"><%=statistic.player.full_name %></a></h4>
            <h4 style="float: right"><%=statistic.gaa.round(2)%></h4></span><br>
          </div>
        <%end%>
      </div>
      <div class="stat-line">
        <h2 id="stat">Shutouts</h2>
        <%@g_statistics.sort_by {|statistic| statistic.shutouts.to_i}.reverse[0..4].each do |statistic|%>
          <div style="clear: both">
            <h4 style="float: left"><a href="/leagues/<%=statistic.player.team.league.id%>/teams/<%=statistic.player.team.id%>/players/<%=statistic.player.id%>"><%=statistic.player.full_name %></a></h4>
            <h4 style="float: right"><%=statistic.shutouts%></h4></span><br>
          </div>
        <%end%>
      </div>
      <div class="stat-line">
        <h2 id="stat">Save Percentage</h2>
        <%@g_statistics.sort_by {|statistic| statistic.save_percentage.to_f}.reverse[0..4].each do |statistic|%>
          <div style="clear: both">
            <h4 style="float: left"><a href="/leagues/<%=statistic.player.team.league.id%>/teams/<%=statistic.player.team.id%>/players/<%=statistic.player.id%>"><%=statistic.player.full_name %></a></h4>
            <h4 style="float: right"><%=statistic.save_percentage.round(3)%></h4></span><br>
          </div>
        <%end%>
      </div>
    </div>

    <a href="/leagues/<%=@league.id%>/standings"><h1 id="standings">Standings</h1></a>
      <table class="standings">
        <thead>
          <tr>
            <th>Name</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Win %</th>
          </tr>
        </thead>

        <tbody>
          <% @standing_teams.sort_by {|team| team.standing.win_percentage}.reverse.each do |team|%>
            <tr>
              <td> <a href="/leagues/<%=@league.id%>/teams/<%=team.id%>/players"><%=team.full_name %></a> </td>
              <td><%=team.standing.wins %></td>
              <td><%=team.standing.losses %></td>
              <td><%='%.3f' %[team.standing.win_percentage] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <a href="/leagues/<%=@league.id%>/schedules"><h1 id="schedules">Upcoming Games</h1></a>
    <table class = "schedules">
      <thead>
        <tr>
          <th>Date</th>
          <th>Home</th>
          <th>Away</th>
        </tr>
      </thead>
      <tbody>
        <% @schedules.sort_by {|schedule| schedule.date}.reverse.each do |schedule|%>
          <tr>
            <td><%=schedule.short_date%></td>
            <td><a href="/leagues/<%=@league.id%>/schedules/<%=schedule.home_team_id%>"><%=schedule.home_team%></a> </td>
            <td><a href="/leagues/<%=@league.id%>/schedules/<%=schedule.away_team_id%>"><%=schedule.away_team%></td>
          </tr>
        <% end %>
      </tbody>
    </table>



</div>
</body>
</html>
