<%=render 'home/header'%>

<body id="page-top">

<%=render 'home/nav_bar'%>

    <header class = "main">
        <div class="header-content-main">
            <div class="header-content-inner-main">
            </div>
        </div>
    </header>

<h1><%=@headline.name%></h1>
<p>
  <%=@headline.body%>
</p>

<%=render 'home/footer'%>

</body>

</html>
